.detail
  .number_of_people
    Number of People:
    -#TODO: Make this ref data?
    = select_for_detail @inquiry_detail, :number_of_people, ["2","3","4","5","6","7","8","9","10"]
  .duration
    Duration
    -#TODO: Make this ref data?
    = select_for_detail @inquiry_detail, :duration, [ '1 day', '< 1 week', '2 weeks' ]
  .time_of_travel
    Time of Travel
    -#TODO: Make this ref data?
    = select_for_detail @inquiry_detail, :time_of_travel, ['January', 'February', 'March', 'April']
  .group_types
    Group Type
    -#TODO: Make this ref data?
    = select_for_detail @inquiry_detail, :group_type, ["Family", "Couple", "Friends"]
  .edit
    Edit
  .submit
    Submit
:javascript
  $(document).ready(function() {
    new Strata.Detail($(".detail"), "#{inquiry_detail_path(@inquiry)}");
  });
