.detail
  .number_of_people
    Number of People:
    = select_for_detail @inquiry_detail, :number_of_people, Detail::NUMBER_OF_PEOPLE
  .duration
    Duration
    = select_for_detail @inquiry_detail, :duration, Detail::DURATION
  .time_of_travel
    Time of Travel
    = select_for_detail @inquiry_detail, :time_of_travel, Detail::TIME_OF_TRAVEL
  .group_types
    Group Type
    = select_for_detail @inquiry_detail, :group_type, Detail::GROUP_TYPE
  .edit
    Edit
  .submit
    Submit
:javascript
  $(document).ready(function() {
    new Strata.Detail($(".detail"), "#{inquiry_detail_path(@inquiry)}");
  });
