!!!
%html
  %head
    %title Holidays
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .top Top Navigation and stuff
    .content= yield
    .footer Footer
    .notice= notice
    .alert= alert
